<%
  require 'yaml'
  require 'ostruct'
  require 'json'

  # Collect paths for base16 and base24 schemes
  base16_files = Dir['schemes/base16/*.yaml']
  base24_files = Dir['schemes/base24/*.yaml']

  # Parse base16 schemes
  base16_colorschemes = base16_files.map do |file_path|
    slug = File.basename(file_path, '.yaml')

    data = YAML.load_file(file_path)
    data['slug'] ||= slug
    data['system'] = 'base16'

    OpenStruct.new(data)
  end

  # Parse base24 schemes
  base24_colorschemes = base24_files.map do |file_path|
    slug = File.basename(file_path, '.yaml')

    data = YAML.load_file(file_path)
    data['slug'] ||= slug
    data['system'] = 'base24'

    OpenStruct.new(data)
  end

  # Combine into a single array
  colorschemes = (base16_colorschemes + base24_colorschemes).sort_by(&:slug)
%>
<!doctype html>
<html lang="en">
  <head>
    <title>Tinted Gallery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      <% colorschemes.each do |cs| %>
        <%= File.read("out/#{cs.system}-#{cs.slug}.css") %>
      <% end %>
    </style>
    <style>
    html { font-size: 16px; }
    h1 {
      font-family: Lobster, cursive;
    }
    .Scheme-codeBlock::-webkit-scrollbar,
    .Scheme-meta::-webkit-scrollbar {
      display: none;
    }
    .Scheme-codeBlock,
    .Scheme-meta {
      scrollbar-width: none;
      padding: 20px;
      height: 300px;
      overflow-y: scroll;
      box-shadow: 5px 5px 10px #333;
      border-radius: 5px;
      margin: 0;
    }
    .Scheme-codeBlock a {
      color: inherit;
      text-decoration: none;
      pointer-events: none;
    }
    .Scheme-tagList {
      display: flex;
      font-size: 0.7rem;
      gap: 5px;
      justify-content: right;
      list-style: none;
      margin: 0;
      padding: 6px 0;
    }
    .Scheme-tagItem {
      border: 1px solid rgba(0,0,0,0.50);
      background-color: rgba(0,0,0,0.25);
      color: rgba(0,0,0,0.75);
      border-radius: 5px;
      height: 18px;
      line-height: 18px;
      padding: 0 4px;
    }
    .darkmode .Scheme-tagItem {
      border: 1px solid rgba(255,255,255,0.50);
      background-color: rgba(255,255,255,0.25);
      color: rgba(255,255,255,0.75);
    }
    .Scheme-title {
      font-size: 1.5rem;
      padding-bottom: 50px;
    }
    .Scheme-palette {
      justify-content: center;
      display: flex;
      box-shadow: 5px 5px 10px #333;
    }
    .Scheme-color {
      flex-grow: 1;
      height: 30px;
    }
    .Scheme-content {
      position: relative;
    }
    .Scheme-checkbox {
      top: 10px;
      right: 10px;
      position: absolute;
    }
    .Scheme-checkbox:not(:checked) + pre {
      display: none;
    }
    .Scheme-checkbox:checked + pre + pre {
      display: none;
    }
    .darkmode {
      background-color: #333;
      color: #fff;
    }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <h1 class="text-center">Tinted Gallery</h1>
        <p class="text-center">
          This gallery is generated from <a href="https://github.com/tinted-theming/tinted-vim">tinted-theming/tinted-vim</a>.</p>
      </div>
      <form>
        <div>
          Group by:
          <select id="group-select" name="group-select">
            <option value="">--None--</option>
            <option value="variant">Variant</option>
            <option value="system">Scheme System</option>
          </select>
        </div>
        <div>
          Dark mode: <input id="darkmode" type="checkbox" />
        </div>
      </form>
      <div class="row" id="gallery">
      <% colorschemes.each do |cs| %>
        <div class="Scheme col-xxl-2 col-lg-3 col-md-4 col-sm-6" data-scheme-variant="<%= cs.variant %>">
          <div class="Scheme-content" id="<%= cs.system %>-<%= cs.slug %>">
            <input class="Scheme-checkbox" type="checkbox" />
            <pre class="Scheme-meta"><code><%= File.read("schemes/#{cs.system}/#{cs.slug}.yaml") %></code></pre>
            <pre class="Scheme-codeBlock"><code> <%= File.read("out/shell.html") %> </code></pre>
          </div>
          <ul class="Scheme-tagList">
            <li class="Scheme-tagItem"><%= cs.system %></li>
            <li class="Scheme-tagItem"><%= cs.variant %></li>
          </ul>
          <div class="Scheme-palette">
            <div class="Scheme-color" title="<%= cs.palette['base00'] %>" style="background-color: <%= cs.palette['base00'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base01'] %>" style="background-color: <%= cs.palette['base01'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base02'] %>" style="background-color: <%= cs.palette['base02'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base03'] %>" style="background-color: <%= cs.palette['base03'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base04'] %>" style="background-color: <%= cs.palette['base04'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base05'] %>" style="background-color: <%= cs.palette['base05'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base06'] %>" style="background-color: <%= cs.palette['base06'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base07'] %>" style="background-color: <%= cs.palette['base07'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base08'] %>" style="background-color: <%= cs.palette['base08'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base09'] %>" style="background-color: <%= cs.palette['base09'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base0A'] %>" style="background-color: <%= cs.palette['base0A'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base0B'] %>" style="background-color: <%= cs.palette['base0B'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base0C'] %>" style="background-color: <%= cs.palette['base0C'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base0D'] %>" style="background-color: <%= cs.palette['base0D'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base0E'] %>" style="background-color: <%= cs.palette['base0E'] %>"></div>
            <div class="Scheme-color" title="<%= cs.palette['base0F'] %>" style="background-color: <%= cs.palette['base0F'] %>"></div>
            <% if cs.palette['base10'] %><div class="Scheme-color" title="<%= cs.palette['base10'] %>" style="background-color: <%= cs.palette['base10'] %>"></div><% end %>
            <% if cs.palette['base11'] %><div class="Scheme-color" title="<%= cs.palette['base11'] %>" style="background-color: <%= cs.palette['base11'] %>"></div><% end %>
            <% if cs.palette['base12'] %><div class="Scheme-color" title="<%= cs.palette['base12'] %>" style="background-color: <%= cs.palette['base12'] %>"></div><% end %>
            <% if cs.palette['base13'] %><div class="Scheme-color" title="<%= cs.palette['base13'] %>" style="background-color: <%= cs.palette['base13'] %>"></div><% end %>
            <% if cs.palette['base14'] %><div class="Scheme-color" title="<%= cs.palette['base14'] %>" style="background-color: <%= cs.palette['base14'] %>"></div><% end %>
            <% if cs.palette['base15'] %><div class="Scheme-color" title="<%= cs.palette['base15'] %>" style="background-color: <%= cs.palette['base15'] %>"></div><% end %>
            <% if cs.palette['base16'] %><div class="Scheme-color" title="<%= cs.palette['base16'] %>" style="background-color: <%= cs.palette['base16'] %>"></div><% end %>
            <% if cs.palette['base17'] %><div class="Scheme-color" title="<%= cs.palette['base17'] %>" style="background-color: <%= cs.palette['base17'] %>"></div><% end %>
          </div>
          <div class="Scheme-title text-center">
            <%= cs.slug %>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <script>
      const colorschemes = <%= colorschemes.map(&:to_h).to_json %>;
      colorschemes.sort((a, b) => {
        if (a.slug > b.slug) return 1;
        if (a.slug < b.slug) return -1;
        return 0;
      });
      const galleryEl = document.getElementById('gallery');
      const codeText = {
        shell: <%= File.read('out/shell.html').to_json %>
      };

      // Listen for changes to DOM "settings" and re-render
      document.getElementById('group-select').addEventListener('change', function() {
        renderSchemes();
      });

      // Toggle dark mode
      document.getElementById('darkmode').addEventListener('change', function() {
        const checkbox = document.getElementById('darkmode');
        const isChecked = checkbox.checked; // Returns true if checked, false if not

        if (isChecked) {
          document.body.classList.add('darkmode');
        } else {
          document.body.classList.remove('darkmode');
        }
      });

      // Get settings from DOM
      function getSettings() {
        const groupBy = [];
        const groupSelected = document.getElementById('group-select').value;

        if (groupSelected) {
          groupBy.push(groupSelected);
        }

        return {
          groupBy,
        }
      }

      // Render all schemes to the DOM
      function renderSchemes() {
        const { groupBy } = getSettings();
        const schemes = [...colorschemes];
        console.log({schemes});

        emptyGalleryEl();

        if (groupBy.includes('system')) {
          schemes.sort((a, b) => {
            if (a.system < b.system) return 1;
            if (a.system > b.system) return -1;
            return 0;
          });
        }

        if (groupBy.includes('variant')) {
          schemes.sort((a, b) => {
            if (a.variant < b.variant) return 1;
            if (a.variant > b.variant) return -1;
            return 0;
          });
        }

        for (let i = 0; i < schemes.length; i++) {
          const colorscheme = schemes[i];

          appendSchemeToGalleryEl(colorscheme);
        }
      }

      // Clear gallery DOM contents
      function emptyGalleryEl() {
        while (gallery.firstChild) {
          gallery.removeChild(gallery.firstChild);
        }
      }

      // Add individual Scheme element to DOM
      function appendSchemeToGalleryEl(cs) {
        const schemeDiv = document.createElement('div');
        schemeDiv.className = 'Scheme col-xxl-2 col-lg-3 col-md-4 col-sm-6 heh';
        schemeDiv.setAttribute('data-scheme-variant', cs.variant);

        // Create Scheme-content div
        const schemeContentDiv = document.createElement('div');
        schemeContentDiv.id = `base16-${cs.slug}`;
        schemeContentDiv.className = 'Scheme-content';

        // Create Scheme-tagItem li
        const schemeTagItemSystemLi = document.createElement('li');
        schemeTagItemSystemLi.className = 'Scheme-tagItem';
        schemeTagItemSystemLi.textContent = `${cs.system}`

        // Create Scheme-tagItem li
        const schemeTagItemVaraintLi = document.createElement('li');
        schemeTagItemVaraintLi.className = 'Scheme-tagItem';
        schemeTagItemVaraintLi.textContent = `${cs.variant}`

        // Create Scheme-content ul
        const schemeTagListUl = document.createElement('ul');
        schemeTagListUl.className = 'Scheme-tagList';
        schemeTagListUl.appendChild(schemeTagItemSystemLi);
        schemeTagListUl.appendChild(schemeTagItemVaraintLi);

        // Add checkbox input
        const checkbox = document.createElement('input');
        checkbox.className = 'Scheme-checkbox';
        checkbox.type = 'checkbox';
        schemeContentDiv.appendChild(checkbox);

        // Add Scheme-meta pre/code
        const schemeMetaPre = document.createElement('pre');
        schemeMetaPre.className = 'Scheme-meta';
        const schemeMetaCode = document.createElement('code');
        schemeMetaCode.textContent = `system: ${cs.system}
slug: ${cs.slug}
name: ${cs.name}
author: ${cs.author}
variant: ${cs.variant}
palette:
  ${cs.palette.base00 ? 'base00: ' + cs.palette.base00 : ''}
  ${cs.palette.base01 ? 'base01: ' + cs.palette.base01 : ''}
  ${cs.palette.base02 ? 'base02: ' + cs.palette.base02 : ''}
  ${cs.palette.base03 ? 'base03: ' + cs.palette.base03 : ''}
  ${cs.palette.base04 ? 'base04: ' + cs.palette.base04 : ''}
  ${cs.palette.base05 ? 'base05: ' + cs.palette.base05 : ''}
  ${cs.palette.base06 ? 'base06: ' + cs.palette.base06 : ''}
  ${cs.palette.base07 ? 'base07: ' + cs.palette.base07 : ''}
  ${cs.palette.base08 ? 'base08: ' + cs.palette.base08 : ''}
  ${cs.palette.base09 ? 'base09: ' + cs.palette.base09 : ''}
  ${cs.palette.base0A ? 'base0A: ' + cs.palette.base0A : ''}
  ${cs.palette.base0B ? 'base0B: ' + cs.palette.base0B : ''}
  ${cs.palette.base0C ? 'base0C: ' + cs.palette.base0C : ''}
  ${cs.palette.base0D ? 'base0D: ' + cs.palette.base0D : ''}
  ${cs.palette.base0E ? 'base0E: ' + cs.palette.base0E : ''}
  ${cs.palette.base0F ? 'base0F: ' + cs.palette.base0F : ''}`
        schemeMetaPre.appendChild(schemeMetaCode);
        schemeContentDiv.appendChild(schemeMetaPre);

        // Add Scheme-codeBlock pre/code
        const schemeCodeBlockPre = document.createElement('pre');
        schemeCodeBlockPre.className = 'Scheme-codeBlock';
        const schemeCodeBlockCode = document.createElement('code');
        schemeCodeBlockCode.innerHTML = codeText.shell;
        schemeCodeBlockPre.appendChild(schemeCodeBlockCode);
        schemeContentDiv.appendChild(schemeCodeBlockPre);

        // Append Scheme-content to the main div
        schemeDiv.appendChild(schemeContentDiv);

        // Append Scheme-tagList to the main div
        schemeDiv.appendChild(schemeTagListUl);

        // Create Scheme-palette div
        const schemePaletteDiv = document.createElement('div');
        schemePaletteDiv.className = 'Scheme-palette';

        // Add Scheme-color divs for the palette
        Object.entries(cs.palette).forEach(([key, color]) => {
          const colorDiv = document.createElement('div');
          colorDiv.className = 'Scheme-color';
          colorDiv.title = color;
          colorDiv.style.backgroundColor = color;
          schemePaletteDiv.appendChild(colorDiv);
        });

        // Append Scheme-palette to the main div
        schemeDiv.appendChild(schemePaletteDiv);

        // Create Scheme-title div
        const schemeTitleDiv = document.createElement('div');
        schemeTitleDiv.className = 'Scheme-title text-center';
        schemeTitleDiv.textContent = cs.slug;

        // Append Scheme-title to the main div
        schemeDiv.appendChild(schemeTitleDiv);

        // Append the entire structure to the document (or another container)
        galleryEl.appendChild(schemeDiv);
      }
    </script>
  </body>
</html>
